.component {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transform: translateY(-2px);
    --borderColor: rgb(0, 0, 0);

    &>* {
        border: 2px solid var(--borderColor);
        background-color: var(--figureColor);
    }

    .cap {
        height: 2px;
        position: absolute;
        border: none;
        width: 100%;
        background-color: var(--squareColor);
        top: 2px;
        z-index: 3;
    }

    .top {
        width: 32px;
        height: 12px;
        transform: translateY(4px);

        &::before {
            content: " ";
            background-color: var(--squareColor);
            width: 10px;
            height: 8px;
            border-radius: 50%;
            position: absolute;
            left: 1px;
            top: -3px;
            border: 2px solid black;
            border-top: transparent;
        }

        &::after {
            border: 2px solid black;
            border-top: transparent;
            content: " ";
            background-color: var(--squareColor);
            width: 10px;
            height: 8px;
            border-radius: 50%;
            position: absolute;
            left: 30px;
            transform: translateX(-100%);
            top: -3px;
        }

        border-bottom-left-radius:5px;
        border-bottom-right-radius:5px;
    }

    .topRounde {
        transform: translateY(2px);
        width: 22px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 3px;
    }

    .body {
        overflow: hidden;
        display: flex;
        transform: translateY(2px);
        justify-content: space-evenly;
        border: none;
        height: 28px;
        background-color: transparent;
        position: relative;

        .midle {
            width: 27px;
            background-color: var(--figureColor);
            height: 100%;
        }

        .rounde {
            position: absolute;
            z-index: 1;
            width: 6px;
            height: 100%;
            background-color: var(--squareColor);
            border-bottom: 1px solid var(--borderColor);
        }

        --distance:-1px;
        --top:0px;
        --bottomRadiuse:90%;

        .leftRounde {
            top: var(--top);
            left: var(--distance);
            border-right: 2px solid var(--borderColor);
            border-bottom-right-radius: var(--bottomRadiuse);
        }

        .rightRounde {
            top: var(--top);
            right: var(--distance);
            border-left: 2px solid var(--borderColor);
            border-bottom-left-radius: var(--bottomRadiuse);
        }
    }

    .bottomRounde {
        --borderRadiuse: 7px;
        border-top-left-radius: var(--borderRadiuse);
        border-top-right-radius: var(--borderRadiuse);
        width: 38px;
        height: 3px;
        transform: translateY(2px);
    }

    .bottom {
        width: 48px;
        height: 8px;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
    }
}