.component {
    & * {
        box-sizing: content-box;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transform: translateY(-2px);
    --borderColor: rgb(0, 0, 0);

    &>* {
        border: 2px solid var(--borderColor);
        background-color: var(--figureColor);
    }

    .neekLine {
        width: 5px;
        color: var(--figureColor);
        height: 14px;
        border: none;
        position: absolute;
        z-index: 2;
        left: 10px;
        top: 17px;
        border-top-left-radius: 2px;

        &::before {
            width: 4px;
            height: 2px;
            position: absolute;
            content: " ";
            background-color: black;
            right: 3px;
            z-index: 4;
            top: 4px;
            border-radius: 40%;
            transform: rotateZ(-32deg);
        }
    }

    .head {
        width: 22px;
        height: 12px;
        position: absolute;
        transform: translate(-14px, 18px) rotateZ(-30deg);
        border-right-color: transparent;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 12px;
        ;

        &::after {
            content: " ";
            position: absolute;
            left: 0px;
            top: 8px;
            border-radius: 10px;
            width: 7px;
            height: 1px;
            background-color: black;
        }
    }

    .body {
        height: 40px;
        width: 17px;
        transform: translateY(12px);
        border-top-left-radius: 6px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top: 4px solid black;
        border-right: 3px solid black;
    }


    .bottomRounde {
        width: 28px;
        height: 4px;
        border-bottom: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transform: translateY(1px);
    }

    .bottom {
        transform: translateY(-1px);
        width: 40px;
        height: 10px;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
    }
}