.component {
    width: 240px;
    height: 240px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    z-index: 2;
    border: 4px solid black;
    border-radius: 50%;

    .background {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        opacity: 0.9;
    }

    .figure {
        height: calc(var(--squareSide) + var(--figureHeightPadding));
        position: absolute;
        display: flex;
        align-items: center;
        z-index: 3;
        border-radius: 48px;
        cursor: pointer;
        transition: .3s ease background-color;

        &:hover {
            background-color: rgb(173, 173, 173);
        }
    }

    .Knight {
        --figureHeightPadding: 12px;
        left: 50%;
        top: 8px;
        transform: translateX(-50%);
        padding: 8px var(--figureHeightPadding);
    }

    .Bishop {
        --figureHeightPadding: 10px;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
        padding: 8px 10px;
    }

    .Rook {
        --figureHeightPadding: 10px;
        left: calc(100% - 8px);
        top: 50%;
        transform: translate(-100%, -50%);
        padding: 8px 10px;
    }

    .Queen {
        --figureHeightPadding: 14px;
        left: 50%;
        top: calc(100% - 8px);
        transform: translate(-50%, -100%);
        padding: 12px 14px;
    }

}