.component {
    font-size: 22px;
    font-family: "Russo One";


    .selector {
        cursor: pointer;
        user-select: none;
    }

    @media only screen and (max-width:1000px) {
        font-size: 18px;
    }
}