.component {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transform: translateY(-2px);
    --borderColor: rgb(0, 0, 0);

    & * {
        box-sizing: content-box;
    }

    .crown {
        position: absolute;
        width: calc(100% + 4px);
        height: 5px;
        display: flex;
        justify-content: space-evenly;
        transform: translate(-2px, -2px);

        .block {
            width: 2px;
            background-color: var(--squareColor);
            height: 100%;
            border: 2px solid black;
            border-top: transparent;
        }
    }

    .top {
        width: 24px;
        height: 12px;
        transform: translateY(3px);
        border: 2px solid var(--borderColor);
        background-color: var(--figureColor);
    }

    .body {
        overflow: hidden;
        display: flex;
        transform: translateY(3px);
        justify-content: space-evenly;
        border: none;
        height: 24px;
        background-color: transparent;
        position: relative;

        .midle {
            width: 29px;
            background-color: var(--figureColor);
            height: 100%;
        }

        .rounde {
            position: absolute;
            z-index: 1;
            width: 6px;
            height: 100%;
            border-bottom: 1px solid var(--borderColor);
            background-color: var(--squareColor);
        }

        --distance:-1px;
        --top:0px;
        --bottomRadiuse:70%;

        .leftRounde {
            top: var(--top);
            left: var(--distance);
            border-right: 2px solid var(--borderColor);
            border-bottom-right-radius: var(--bottomRadiuse);
        }

        .rightRounde {
            top: var(--top);
            right: var(--distance);
            border-left: 2px solid var(--borderColor);
            border-bottom-left-radius: var(--bottomRadiuse);
        }
    }

    .bottomRounde {
        --borderRadiuse: 4px;
        width: 27px;
        height: 4px;
        border-top-left-radius: var(--borderRadiuse);
        border-top-right-radius: var(--borderRadiuse);
        transform: translateY(2px);
        border: 2px solid var(--borderColor);
        background-color: var(--figureColor);
    }

    .bottom {
        --borderRadiuse: 12px;
        width: 42px;
        height: 10px;
        border-top-right-radius: var(--borderRadiuse);
        border-top-left-radius: var(--borderRadiuse);
        border: 2px solid var(--borderColor);
        background-color: var(--figureColor);
    }
}