.component {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: var(--tableSide);
    height: var(--tableSide);


    .tableBorder {
        position: absolute;
        z-index: 1;
        border: 2px solid black;
        width: calc(var(--squareSide) * 8 + var(--borderGap) + var(--cordinatsGap));
        height: calc(var(--squareSide) * 8 + var(--borderGap) + var(--cordinatsGap));
        background-image: var(--tableBorderSvg);
    }

    .tableOutline {
        position: absolute;
        z-index: 0;
        width: var(--tableSide);
        height: var(--tableSide);
        border-radius: 10px;
        background-image: var(--tableOutlineSvg);
    }

    .tableCorners {
        position: absolute;
        z-index: 2;
        width: var(--tableSide);
        height: var(--tableSide);

        .corner {
            background-color: black;
            width: calc(var(--tableSide) * 1.401);
            height: 2px;
            position: absolute;
            top: 50%;
            left: -20%;
        }

        .leftCorner {
            transform: rotate(225deg);
        }

        .rightCorner {
            transform: rotate(-45deg);
        }
    }

    .tableCordinats {
        position: absolute;
        z-index: 3;
        width: calc(var(--squareSide) * 8 + var(--cordinatsGap));
        height: calc(var(--squareSide) * 8 + var(--cordinatsGap));
        background-color: black;
        color: white;
        font-family: "Russo One";
        font-size: calc(var(--cordinatsGap) / 1.9);
    }

    .cordinatNumbers {
        position: absolute;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding: calc(var(--cordinatsGap) / 2) 0px;
        width: calc(var(--cordinatsGap) / 2);
    }

    .cordinatLetters {
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0px calc(var(--cordinatsGap) / 2);
        top: 100%;
        transform: translateY(-100%);
        height: calc(var(--cordinatsGap) / 2);
    }
}
