.component {
    --squareSide: 82px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: var(--tableSide);

    --tableSide: calc(var(--squareSide) * 8 + var(--borderGap));

    .tableBorder {
        --borderGap: 40px;
        position: absolute;
        z-index: 1;
        border: 2px solid black;
        width: calc(var(--squareSide) * 8 + var(--borderGap));
        height: calc(var(--squareSide) * 8 + var(--borderGap));
        background-image: var(--tableBorderSvg);

    }

    --borderGap: 95px;

    .tableOutline {
        position: absolute;
        z-index: 0;
        width: var(--tableSide);
        height: var(--tableSide);
        border-radius: 10px;
        background-image: var(--tableOutlineSvg);
    }

    .tableCorners {
        position: absolute;
        z-index: 2;
        width: var(--tableSide);
        height: var(--tableSide);

        .corner {
            background-color: black;
            width: calc(var(--tableSide) * 1.401);
            height: 2px;
            position: absolute;
            top: 50%;
        }

        .leftCorner {
            left: -20%;
            transform: rotate(225deg);
        }

        .rightCorner {
            left: -20%;
            transform: rotate(-45deg);
        }
    }
}

@media only screen and (max-width: 1420px) {
    .component {
        --squareSide: 74px;
    }
}
