.component {
    border: 1px solid black;
    padding: 2px 10px;
    font-family: "Russo one";
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(224, 224, 224);
    
    &:nth-child(2n) {
        color:  black;
        background-color: rgba(255, 255, 255, 0.6);
    }

    @media only screen and (min-aspect-ratio: 1/0.7) and (max-width:980px) {
        font-size: 12px;
    }

    @media only screen and (min-aspect-ratio: 1/0.7) and (max-width:680px) {
        font-size: 10px;
    }
}