.component {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid black;
    padding: 4px 12px;

    .button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        height: 100%;

        &:hover {
            background: white;
            background: linear-gradient(90deg, rgb(255, 255, 255) 1%, rgb(206, 206, 206) 50%, rgb(255, 255, 255) 100%);
        }

    }

    .icon {
        width: 26px;
    }
}

@media only screen and (max-width: 1340px) {
    .component {
        .icon {
            width: 22px;
        }
        
    }
}

@media only screen and (max-width: 1140px) {
    .component {
        .icon {
            width: 20px;
        }
    }
}

@media only screen and (max-width: 1040px) {
    .component {
        .icon {
            width: 16px;
        }
    }
}