.component {
    
    padding: 10px 20px;
    width: 100%;
    display: flex;
    background: rgb(224, 177, 124);
    background: linear-gradient(90deg, rgba(201, 127, 42, 1) 13%, rgb(216, 167, 112)61%);
    align-items: center;
    justify-content: space-between;
}