.component {
    --infoBarSize: 15vw;
    width: var(--infoBarSize);
    height: calc(var(--infoBarSize) * 2);

    background-color: rgb(165, 87, 42);
    border: 4px solid rgb(0, 0, 0);
    border-radius: 20px;
    position: absolute;
    left: calc(50% + var(--tableSide) / 2 + 20px);
    overflow: hidden;
}

@media only screen and (max-aspect-ratio: 1/0.7) {
    .component {
        margin-top: 10px;
        position: static;
        --infoBarSize: calc(var(--tableSide) / 1.5);
    }
}