.component {
    --infoBarSize: 15vw;
    width: var(--infoBarSize);
    height: calc(var(--infoBarSize) * 2);

    display: flex;
    flex-direction: column;
    background-color: rgb(165, 87, 42);
    border: 4px solid rgb(0, 0, 0);
    border-radius: 20px;
    position: absolute;
    left: calc(50% + var(--tableSide) / 2 + 20px);
    overflow: hidden;
    user-select: none;

    @media only screen and (max-aspect-ratio: 1/0.7) {
        margin-top: 10px;
        position: static;
        --infoBarSize: calc(var(--tableSide) / 1.5);
        height: calc(var(--infoBarSize) * 1.3);

    }

    @media only screen and (min-aspect-ratio: 1/0.7) and (max-width:880px) {
        border-radius: 16px;
    }
}