.component {
    position: absolute;
    z-index: 20;
    font-size: 30px;
    padding: 2px 10px;
    font-family: "Russo One";
    right: calc(var(--borderWidth) / 2);
}

.whiteTimer {
    background-color: white;
    color: black;
    transform: translate(calc(100% + 5px), calc(var(--squareSide) * -4));
}

.blackTimer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transform: translate(calc(100% + 5px), calc(var(--squareSide) * 4));
}